.mediaViewInfo {
	--web-view-name: Web 1366 – 5;
	--web-view-id: Web_1366__5;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1366__5;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1366__5 {
	position: absolute;
	width: 100%;
	height: 700px;
	background-color: rgba(229,215,189,1);
	overflow: hidden;
	--web-view-name: Web 1366 – 5;
	--web-view-id: Web_1366__5;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
body {
	width: 100% !important;
	height: 100% ;
	margin: 0;
    margin-bottom: 40px;
	fill: rgba(232,218,192,1);
	overflow-x: hidden;
}
.btn-atras {
	position: absolute;
	top: 10%;
	left: 2%;
	display: flex;
	width: 120px;
	max-width: 150px;
	flex-wrap: wrap;
	margin: 0%;
}
#Grupo_229 {
	position: absolute;
	width: 100%;
	height: 799.726px;
	left: -0.206px;
	top: 0px;
	overflow: visible;
}
#arriba {
	position: absolute;
	width: 100%;
	height: 77.791px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_5 {
	position: absolute;
	width: 100%;
	height: 77.791px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectngulo_3 {
	fill: rgba(231,192,99,1);
}
.Rectngulo_3 {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 77.791px;
	left: 0px;
	top: 0px;
}
#logo {
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translatex(-50%);
	overflow: visible;
	cursor: pointer;
}
#Capa_4_uw {
	position: absolute;
	width: 100%;
	height: 55%;
	top: 20%;
	overflow: visible;
}

#Rectngulo_129 {
	position: absolute;
	width: 430.464px;
	height: 430.465px;
	left: 20%;
	top: 1%;
	overflow: visible;
}
#Rectngulo_130 {
	position: absolute;
	width: 429.375px;
	height: 429.374px;
	left: 50%;
	top: 1%;
	overflow: visible;
	background-image: url(../img/Rectngulo_130.png);
	background-size: cover;
}
#Rectngulo_130:hover {
	background-image: url(../img/Rectngulo_131.png);
}
#n_D_u {
	left: 47%;
	top: 10%;
	position: absolute;
	overflow: visible;
	font-family: 'Pangolin', cursive;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
/*Pie*/

#Piesito {
	fill: rgba(231,192,99,1);
}
.piesito {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 77.791px;
	left: 0px;
	bottom: 0%;
	top: 90%;
}
#Email_giovannapinro25gmailcom {
	left: 70%;
	top: 94%;
	position: absolute;
	overflow: visible;
	width: 209px;
	font-family: 'Pangolin', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#icon {
	position: absolute;
	left: 20%;
	top: 92%;
	overflow: visible;
}
.icon {
	width: 50px;
	height: 50px;
	padding: 10px;	
}
#insta {
	position: absolute;
	width: 26.471px;
	height: 26.471px;
	left: 0px;
	top: 0.046px;
	overflow: visible;
}

#Bh {
	position: absolute;
	width: 26.506px;
	height: 26.466px;
	left: 40.263px;
	top: 0px;
	overflow: visible;
}

#Ln {
	position: absolute;
	width: 26.059px;
	height: 26.054px;
	left: 80.766px;
	top: 0.413px;
	overflow: visible;
}

#dimiH {
	position: absolute;
	left: 95%;
	top: 75.5%;
	transform: translatex(-50%);
	overflow: visible;
}
.ventana{
	width: 100%;
	height: 100%;
	color:blanchedalmond;
	position: fixed;
	background-image: url(../img/1x/bg-modal.png) ;
	top: 0%;
	left: 0%;
	display: none;
}
.form{
	width: 300px;
	height: 400px;
	padding: 25px;
	background-color: blanchedalmond;
	color: #DD723A;
	top: 10%;
	left: 40%;
	position: absolute;
	border-radius: 10%;
}
hr{
	background-color: rgba(231,192,99,1);
	width: 100%;
	height: 4px;
	margin: 10% 0%;
}
.cerrar{
	color: red;
	font-weight: 900;
	text-align: right;
}
.cerrar a{
	color: red;
}
